@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyriadProBold';
    src: url(MyriadProBold.ttf);
}

html { padding: 0px; margin: 0px; font-family: MyriadProBold;scroll-behavior: smooth;}


div{
    font-family: MyriadProBold;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
}

.navbar:hover{
    color: #FECB00;
}

.lpg1 {
    border-radius: 0% 25% 61% 0% / 25% 0% 100% 25%;
}