@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MyriadProBold';
    src: url(MyriadProBold.ttf);
}

html { padding: 0px; margin: 0px; font-family: MyriadProBold;scroll-behavior: smooth;}


div{
    font-family: MyriadProBold;
    overflow-x: hidden;
    scroll-behavior: smooth;
  
}

.navbar:hover{
    color: #FECB00;
}


.lpg1{
    border-radius: 0% 25% 61% 0% / 25% 0% 100% 25%;
}

.ofthe {
    top:-200px;
}


@media only screen and (max-device-width: 800px) {
    .lpg1{
        border-radius: 0px;
        overflow-y: hidden;
        
       
    }
    
    .lpg1 img{
        margin-top:-200px;
        margin-right: -200px;
        object-fit: cover;
        height: 500px;
    }
    
    .contactus{
        margin-top: 50px;
        width: 100px;
        font-size: .8rem;
        padding-top: 2px;
      
 
    
    }
    .contactussvg{
        margin-bottom: 50px;
        margin-left: 20px;
    }

  
  }


